@media (max-width:768px) {
    .new-product__item {
        width: calc(100% / 2 - 10px)
    };

    .card--big__img-wrapper {
        height: 135px;
    }

    .product-card {
        &__content-top {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        }
        &__img {
            -ms-flex-item-align: center;
                -ms-grid-row-align: center;
                align-self: center;
            width: 70%;
        }
        &__inner-text {
            max-width: 100%;
        }
    }
}
@media (max-width:576px) {
    .btn {
        padding: 12px 4px;
        font-size: 12px;
    }
    .new-product__item {
        width: calc(100%)
    };

    .product-card{
        &__img {
            width: 100%;
        }
        &__buttons {
            -webkit-box-align: stretch;
                -ms-flex-align: stretch;
                    align-items: stretch;
        }
    }

    .footer {
        &__content-buttom {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            gap: 50px;
        }
        &__nav {
            text-align: center;
        }
    }
    
}